@font-face {
    font-family: "bfconnect";
    src: url("../font/bfconnect.ttf");
}

body {
	background-color: #f5f5f5;
	background-repeat: no-repeat;
	background-attachment: scroll;
	--mdc-theme-background: white;
	font-family: bfconnect;
	user-select: none; /* Chrome */
	-webkit-touch-callout: none; /* IOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.mdc-top-app-bar {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
	color: black;
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	width: 100%;
	z-index: 4;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item {
	color: black;
	color: #000;
}

.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
	color: var(--mdc-theme-on-primary, #000);
}

.logo {
	width: 180px;
	height: 45px; 
	position: absolute;
	top: 5px; 
	left: 20px
}

