/*@import url(https://fonts.googleapis.com/css?family=Roboto);*/
@font-face {
    font-family: "bfconnect";
    src:url("../font/bfconnect.ttf");
}

body {
    background-color:#ecebeb;
    background-repeat: no-repeat;
    background-attachment: scroll;
	--mdc-theme-background: white;
	font-family: bfconnect;
}


/* Div bianchi */

.card {
    position: absolute;
	display: none;
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);
	width: 20%;
	height: 40%;
	border-radius:25px;	
	background-color:rgba(255, 255, 255, 1);
	margin: 0;
  	transform: translate(-50%, -50%);
  	text-align:center;
  	overflow: auto;
  	font-family:bfconnect;
  	font-size:18px;
}

.container {}

/* Toolbar */

.mdc-top-app-bar {
    background-color:rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px -4px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
    color: black;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    z-index: 4;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item {
    color: black;
    color: #000;
}

.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
    color:var(--mdc-theme-on-primary, #000);
}

.btn {
    position: absolute;
    display: none;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 9px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #039c98;
    color: #FFF;
	font-size:18px;
    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #03bcb7;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 10px 30px;
    font-family:bfconnect;
}

.btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

#customers {
  font-family: bfconnect;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #039c98;
  color: white;
}

