/* Div bianchi */

.drawer {
	display: block;
	position: fixed;
	height: 94.3%;
	width: 14%;
	top:56px;
	background-color:rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 2px 0px rgba(0,0, 0, 0.2);	
}

.stool{
	position: absolute;
	top: 56px;
	width: 86%;
	height: 5%;
	left: 14%;
	background-color:rgba(255, 255, 255, 0.7);
}

.refresh {
	width: 28px; 
	height: 28px; 
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	right: 0;
	margin-right: 40px;
	cursor: pointer;
	border-radius: 70px;	
	padding: 1px;
}

.refresh:hover {
	background-color: rgba(181, 181, 181, 0.5);
}

.card {
	position: absolute;
	display: none;
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);
	width: 20%;
	height: 40%;
	border-radius:25px;	
	background-color:rgba(255, 255, 255, 1);
	margin: 0;
  	transform: translate(-50%, -50%);
  	text-align:center;
  	overflow: auto;
  	font-family:bfconnect;
  	font-size:18px;
}

.container {
	margin:30px;
}


.contFU {
	text-align:center;
  	overflow: auto;
	font-size:110%;
	font-family:bfconnect;
	background-color:rgba(255, 255, 255, 0);
	position: absolute;
	width: 85.9%;
	height: 86.3%;
	left: 14.1%;
	top: 13.7%;
}

.storage {
	position: absolute;
	bottom: 0;
	margin-bottom: 40px;
	width: 100%;
	height: 50px;
	cursor: pointer;
}

.storage:hover {
	background-color: rgba(181, 181, 181, 0.5);
}

.imgStorage {
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	width: 36px; 
	height: 36px; 
	left: 6.5%;
}

.txtStorage {
	left: 33%; 
	width: 66%;
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
}

.upload {
	position: relative;
	top: 7%; 
	height: 50px;
	cursor: pointer;
}

.myspace {
	top: 7%;
	position: relative;
	height: 50px;
	background-color: rgba(3, 156, 152, 0.15);
	cursor: pointer;
}

.imgUpload {
	margin: 0; 
	width:30px; 
	height:30px; 
	position: absolute;  
	left:8%;
	top: 50%;
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%); 
}

.txtUpload {
	margin: 0; 
	position: absolute;  
	left:32%; 
	font-size:120%; 
	top: 50%;
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%); 
}

.imgMySpace {
	width:30px; 
	height:30px; 
	position: absolute; 
	left:8%; 
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%); 
}

.txtMySpace {
	margin: 0; 
	position: absolute; 
	left:32%; 
	font-size:120%;
	top: 50%;
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%); 
}

.imgProfile {
	width:200px; 
	height:200px; 
	position: absolute;
	left:3%; 
	margin: 0;
}

.spanCenter {
	margin: 0; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
}

.txtStool {
	margin: 0; 
	position: absolute; 
	top: 50%; 
	left:2%; 
	-ms-transform: translateY(-50%); 
	transform: translateY(-50%);
}

.btn {
	position: absolute;
	display: block;
	padding: 0;
	border-width: 0;
	outline: none;
	border-radius: 9px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	background-color: #039c98;
	color: #FFF;
	font-size:110%;
	transition: background-color .3s;
}

.btn:hover, .btn:focus {
	background-color: #03bcb7;
}

.btn > * {
	position: relative;
}

.btn span {
	display: block;
	padding: 10px 30px;
	font-family:bfconnect;
}

.btn:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 0;
	padding-top: 0;
	border-radius: 24%;
	background-color: rgba(236, 240, 241, .3);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btn:active:before {
	width: 100%;
	padding-top: 30%;
	transition: width .2s ease-out, padding-top .2s ease-out;
}

#customers {
	font-family: bfconnect;
	border-collapse: collapse;
	width: 100%;
	text-align:center;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr {
	background-color: rgba(252, 252, 252, 0.9);
}

#customers tr:hover {
	background-color: rgba(240, 240, 240, 0.9);
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #039c98;
	color: white;
}

.upload-btn-wrapper {
	top: 3.5%; 
	left: 7%;
	width: 60%;
	height: 5%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.btnUpload {
	font-family:bfconnect;
	border: 2px solid #039c98;
	color: white;
	background-color: #039c98;
	padding: 8px 20px;
	border-radius: 30px;
	font-size: 20px;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.btnUpload span {
	margin: 0; 
	position: absolute; 
	transform: translate(-50%, -50%); 
	font-size:90%;
	cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}


.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 105%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

